/**
Frame
*/

.frame {
    position: relative;
    border-style: solid;
    border-radius: 2rem;
    background-color: var(--backdrop-light);
    border-color: var(--primary);
}

.frame.std {
    border-width: 0.5rem 0rem 0.5rem 1.1rem;
}

.frame.std.mirror {
    border-width: 0.5rem 1.1rem 0.5rem 0rem;
}

.frame.bracket {
    border-width: 0rem 1.1rem 0rem 1.1rem;
}

.frame.partial {
    border-width: 0rem 0rem .5rem 1.1rem;
}

.frame.partial.mirror {
    border-width: 0rem 1.1rem 0.5rem 0rem;
}

.frame.partial.flip {
    border-width: 0.5rem 0rem 0rem 1.1rem;
}

.frame.partial.mirror.flip {
    border-width: 0.5rem 1.1rem 0rem 0rem;
}

.frame>.title {
    position: absolute;
    right: 1.1rem;
    top: 0.5rem;
    color: var(--on-backdrop);
}

.frame>.label {
    position: absolute;
    right: 1.1rem;
    bottom: 0.5rem;
    color: var(--on-backdrop);
    display: flex;
    flex-flow: column nowrap;
}

.frame>.content {
    overflow: hidden;
    margin: 2.5rem 1.1rem 1.1rem 1.1rem;
    color: var(--on-secondary);
}

.frame.sidebar {
    border-left-width: 5rem;
}

.frame>.items {
    position: absolute;
    top: 2rem;
    left: -5rem;
    display: flex;
    flex-flow: column nowrap;
}

.frame>.items>.button {
    width: 5rem;
    overflow: hidden;
    text-transform: uppercase;
}

.frame>.items>.button:not(:last-child) {
    margin-bottom: 0.5rem;
}

.frame.statusline {
    border-bottom-width: 2rem;
}

.frame>.status {
    position: absolute;
    bottom: -1.5rem;
    right: 2rem;
    display: flex;
    flex-flow: row nowrap;
    color: var(--on-primary);
}