/**
Controls
*/

input {
  border: none;
}

input[type="range"]{
  accent-color:var(--button-color);
}

input[type="number"] {
  text-align: center;
  border: none;
}

input[type="range"] {
  writing-mode: bt-lr;
  outline: none;
}

input[type="radio"]{
  accent-color:var(--button-color);
}

input[type="checkbox"]{
  accent-color:var(--button-color);
}

input[type="range"].vertical {
  -webkit-appearance: slider-vertical;
}

button::-moz-focus-inner {
  border: 0;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem;
  text-align: left;
}

button {
  color: var(--button-text);
  background-color: var(--button-color);
}

button:hover {
  color: var(--button-color);
  background-color: var(--button-text);
}