/**
Controls
*/

input,
select {
  outline: none;
  border: none;
  color: var(--on-accent);
  background-color: var(--accent);
  accent-color: var(--accent);
}

input[type="number"] {
  text-align: center;
  border: none;
}

input[type="range"] {
  writing-mode: bt-lr;
  outline: none;
}

input[type="range"].vertical {
  writing-mode: vertical-lr;
  direction: rtl;
}

input[type="button"],
.button::-moz-focus-inner {
  border: 0;
}

input[type="button"],
.button {
  outline: none;
  border: none;
  padding: 0.5rem;
  text-align: left;
  color: var(--on-secondary);
  background-color: var(--secondary-light);
}


input[type="button"],
.button:hover {
  color: var(--on-secondary);
  background-color: var(--secondary-dark);
}