/**
Controls
*/

input {
  border: none;
}

input {
  accent-color:var(--accent);
}

input[type="text"]{
  color:var(--on-accent);
  background-color: var(--accent);
}

input[type="number"]{
  color:var(--on-accent);
  background-color: var(--accent);
}

input[type="number"] {
  text-align: center;
  border: none;
}

input[type="range"] {
  writing-mode: bt-lr;
  outline: none;
}

input[type="range"].vertical {
  -webkit-appearance: slider-vertical;
}

button::-moz-focus-inner {
  border: 0;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem;
  text-align: left;
}

button {
  background-color: var(--secondary-light);
}

button:hover {
  background-color: var(--secondary-dark);
}