/**
Scrollable
*/

.scrollable {
  margin-left: 1rem;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1rem;
  overflow: auto;
  width: 100%;
}

.scrollable::-webkit-scrollbar {
  width: 12px;
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
}