/**
Default values for the CSS variables
*/
:root {
    /** Fonts */
    --sans-font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', sans-serif;
    --mono-font-family: Menlo, Monaco, 'Courier New', monospace;
    /** Colors */
    --gray: #789 !important;
    --white: #fff !important;
    --black: #000 !important;
    --pale-canary: #ff9 !important;
    --golden-tanoi: #fc6 !important;
    --neon-carrot: #f93 !important;
    --eggplant: #646 !important;
    --lilac: #c9c !important;
    --anakiwa: #9cf !important;
    --mariner: #36c !important;
    --bahama-blue: #069 !important;
    --red-alert: #e10 !important;
    --blue-bell: #99c !important;
    --melrose: #99f !important;
    --hopbush: #c69 !important;
    --chestnut-rose: #c66 !important;
    --orange-peel: #f96 !important;
    --atomic-tangerine: #f90 !important;
    --danub: #68c !important;
    --indigo: #45b !important;
    --lavender-purple: #97a !important;
    --cosmic: #746 !important;
    --red-damask: #d64 !important;
    --medium-carmine: #a53 !important;
    --bourbon: #b62 !important;
    --sandy-brown: #e95 !important;
    --periwinkle: #cdf !important;
    --dodger-blue: #59f !important;
    --dodger-blue-alt: #36f !important;
    --blue: #01e !important;
    --navy-blue: #008 !important;
    --husk: #ba5 !important;
    --rust: #b41 !important;
    --tamarillo: #821 !important;
    /** Default Theme */
    --backdrop: gray;
    --backdrop-light: lightgray;
    --backdrop-dark: darkgray;
    --on-backdrop: black;
    --primary: black;
    --primary-light: gray;
    --primary-dark: black;
    --on-primary: white;
    --secondary: white;
    --secondary-light: white;
    --secondary-dark: whitesmoke;
    --on-secondary: black;
    --error: var(--red-alert);
    --on-error: black;
    --accent: lightgray;
    --on-accent: black;
}