

[data-theme="trek"] {
    --bg: var(--black);
    --frame-bg: var(--black);
    --frame-border: var(--atomic-tangerine);
    --button-text: var(--white);
    --button-color: var(--gray);
    --title-text: var(--atomic-tangerine);
    --label-text: var(--atomic-tangerine);
}

[data-theme="red-alert"] {
    --frame-border: var(--red-alert);
}