/**
Husk
*/
.pk-theme-husk {
  --pk-backdrop: var(--pk-black);
  --pk-backdrop-light: var(--pk-black);
  --pk-backdrop-dark: var(--pk-black);
  --pk-text: var(--pk-pale-canary);
  --pk-primary: var(--pk-husk);
  --pk-primary-light: var(--pk-golden-tanoi);
  --pk-primary-dark: var(--pk-bourbon);
  --pk-on-primary: var(--pk-black);
  --pk-secondary: var(--pk-bourbon);
  --pk-secondary-light: var(--pk-sandy-brown);
  --pk-secondary-dark: var(--pk-bourbon);
  --pk-on-secondary: var(--pk-black);
  --pk-accent: var(--pk-anakiwa);
  --pk-accent-light: var(--pk-periwinkle);
  --pk-accent-dark: var(--pk-danube);
  --pk-on-accent: var(--pk-black);
  --pk-error: var(--pk-red-alert);
  --pk-on-error: var(--pk-black);

  --pk-button-bg: var(--pk-secondary-light);
  --pk-button-fg: var(--pk-on-secondary);
  --pk-button-hover-bg: var(--pk-secondary-dark);
  --pk-button-hover-fg: var(--pk-on-secondary);
}
