/**
Red Alert
*/
@layer protokuda.base, protokuda.theme;

@layer protokuda.theme {
  :root {
    --pk-backdrop: var(--pk-black);
    --pk-backdrop-light: var(--pk-black);
    --pk-backdrop-dark: var(--pk-black);
    --pk-text: #f1e8c6;
    --pk-primary: #d82c2c;
    --pk-primary-light: var(--pk-gray);
    --pk-primary-dark: var(--pk-black);
    --pk-on-primary: #f1e8c6;
    --pk-secondary: rgb(240, 90, 40);
    --pk-secondary-light: #f37b53;
    --pk-secondary-dark: #e54510;
    --pk-on-secondary: #f1e8c6;
    --pk-accent: #f6b83c;
    --pk-accent-light: var(--pk-light-gray);
    --pk-accent-dark: var(--pk-dark-gray);
    --pk-on-accent: #913d3b;
    --pk-error: var(--pk-red-alert);
    --pk-on-error: var(--pk-black);

    --pk-button-bg: var(--pk-accent);
    --pk-button-fg: var(--pk-backdrop);
    --pk-button-hover-bg: var(--pk-secondary-dark);
    --pk-button-hover-fg: var(--pk-on-secondary);
  }
}
