/**
*/
:root {
    --backdrop: black;
    --backdrop-light: black;
    --backdrop-dark: black;
    --on-backdrop: var(--atomic-tangerine);
    --primary: var(--atomic-tangerine);
    --primary-light: #ffc164;
    --primary-dark: #9b5d00;
    --on-primary: black;
    --secondary: #2419b2;
    --secondary-light: #655ec5;
    --secondary-dark: #120b6c;
    --on-secondary: white;
    --error: var(--red-alert);
    --on-error: black;
    --accent: #00aa72;
    --on-accent: #2419b2;

    button:hover {
        color: var(--primary);
    }
}