/**
*/
:root {
    --backdrop: var(--black);
    --backdrop-light: var(--black);
    --backdrop-dark: var(--black);
    --on-backdrop: var(--primary);
    --primary: #ff9900;
    --primary-light: #ffc164;
    --primary-dark: #9b5d00;
    --on-primary: var(--black);
    --secondary: #2419b2;
    --secondary-light: #655ec5;
    --secondary-dark: #120b6c;
    --on-secondary: var(--white);
    --accent: #00aa72;
    --accent-light: #4bbf99;
    --accent-dark: #006746;
    --on-accent: var(--secondary);
    --error: var(--red-alert);
    --on-error: var(--black);
}

input[type="button"],
.button:hover {
    color: var(--primary);
}