.pk-screen {
  height: 100dvh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    'a a e e'
    'b b d c'
    'b b f f';
}

.pk-screen .a {
  grid-area: a;
}

.pk-screen .b {
  grid-area: b;
}

.pk-screen .c {
  grid-area: c;
}

.pk-screen .d {
  grid-area: d;
}

.pk-screen .e {
  grid-area: e;
}

.pk-screen .f {
  grid-area: f;
}
