/**
* Colors
*/
:root {
  --pk-white: #fff;
  --pk-black: #000;
  --pk-gray: #789;
  --pk-light-gray: #d3d3d3;
  --pk-dark-gray: #a9a9a9;
  --pk-pale-canary: #ff9;
  --pk-golden-tanoi: #fc6;
  --pk-neon-carrot: #f93;
  --pk-eggplant: #646;
  --pk-lilac: #c9c;
  --pk-anakiwa: #9cf;
  --pk-mariner: #36c;
  --pk-bahama-blue: #069;
  --pk-red-alert: #e10;
  --pk-blue-bell: #99c;
  --pk-melrose: #99f;
  --pk-hopbush: #c69;
  --pk-chestnut-rose: #c66;
  --pk-orange-peel: #f96;
  --pk-atomic-tangerine: #f90;
  --pk-danube: #68c;
  --pk-indigo: #45b;
  --pk-lavender-purple: #97a;
  --pk-cosmic: #746;
  --pk-red-damask: #d64;
  --pk-medium-carmine: #a53;
  --pk-bourbon: #b62;
  --pk-sandy-brown: #e95;
  --pk-periwinkle: #cdf;
  --pk-dodger-blue: #59f;
  --pk-dodger-blue-alt: #36f;
  --pk-blue: #01e;
  --pk-navy-blue: #008;
  --pk-husk: #ba5;
  --pk-rust: #b41;
  --pk-tamarillo: #821;
}

/**
* Color classes
*/
.pk-gray-bg {
  background-color: var(--pk-gray);
}

.pk-white-bg {
  background-color: var(--pk-white);
}

.pk-black-bg {
  background-color: var(--pk-black);
}

.pk-pale-canary-bg {
  background-color: var(--pk-pale-canary);
}

.pk-golden-tanoi-bg {
  background-color: var(--pk-golden-tanoi);
}

.pk-neon-carrot-bg {
  background-color: var(--pk-neon-carrot);
}

.pk-eggplant-bg {
  background-color: var(--pk-eggplant);
}

.pk-lilac-bg {
  background-color: var(--pk-lilac);
}

.pk-anakiwa-bg {
  background-color: var(--pk-anakiwa);
}

.pk-mariner-bg {
  background-color: var(--pk-mariner);
}

.pk-bahama-blue-bg {
  background-color: var(--pk-bahama-blue);
}

.pk-red-alert-bg {
  background-color: var(--pk-red-alert);
}

.pk-blue-bell-bg {
  background-color: var(--pk-blue-bell);
}

.pk-melrose-bg {
  background-color: var(--pk-melrose);
}

.pk-hopbush-bg {
  background-color: var(--pk-hopbush);
}

.pk-chestnut-rose-bg {
  background-color: var(--pk-chestnut-rose);
}

.pk-orange-peel-bg {
  background-color: var(--pk-orange-peel);
}

.pk-atomic-tangerine-bg {
  background-color: var(--pk-atomic-tangerine);
}

.pk-danube-bg {
  background-color: var(--pk-danube);
}

.pk-indigo-bg {
  background-color: var(--pk-indigo);
}

.pk-lavender-purple-bg {
  background-color: var(--pk-lavender-purple);
}

.pk-cosmic-bg {
  background-color: var(--pk-cosmic);
}

.pk-red-damask-bg {
  background-color: var(--pk-red-damask);
}

.pk-medium-carmine-bg {
  background-color: var(--pk-medium-carmine);
}

.pk-bourbon-bg {
  background-color: var(--pk-bourbon);
}

.pk-sandy-brown-bg {
  background-color: var(--pk-sandy-brown);
}

.pk-periwinkle-bg {
  background-color: var(--pk-periwinkle);
}

.pk-dodger-blue-bg {
  background-color: var(--pk-dodger-blue);
}

.pk-dodger-blue-alt-bg {
  background-color: var(--pk-dodger-blue-alt);
}

.pk-blue-bg {
  background-color: var(--pk-blue);
}

.pk-navy-blue-bg {
  background-color: var(--pk-navy-blue);
}

.pk-husk-bg {
  background-color: var(--pk-husk);
}

.pk-rust-bg {
  background-color: var(--pk-rust);
}

.pk-tamarillo-bg {
  background-color: var(--pk-tamarillo);
}

.pk-gray-border {
  border-color: var(--pk-gray);
}

.pk-white-border {
  border-color: var(--pk-white);
}

.pk-black-border {
  border-color: var(--pk-black);
}

.pk-pale-canary-border {
  border-color: var(--pk-pale-canary);
}

.pk-golden-tanoi-border {
  border-color: var(--pk-golden-tanoi);
}

.pk-neon-carrot-border {
  border-color: var(--pk-neon-carrot);
}

.pk-eggplant-border {
  border-color: var(--pk-eggplant);
}

.pk-lilac-border {
  border-color: var(--pk-lilac);
}

.pk-anakiwa-border {
  border-color: var(--pk-anakiwa);
}

.pk-mariner-border {
  border-color: var(--pk-mariner);
}

.pk-bahama-blue-border {
  border-color: var(--pk-bahama-blue);
}

.pk-red-alert-border {
  border-color: var(--pk-red-alert);
}

.pk-blue-bell-border {
  border-color: var(--pk-blue-bell);
}

.pk-melrose-border {
  border-color: var(--pk-melrose);
}

.pk-hopbush-border {
  border-color: var(--pk-hopbush);
}

.pk-chestnut-rose-border {
  border-color: var(--pk-chestnut-rose);
}

.pk-orange-peel-border {
  border-color: var(--pk-orange-peel);
}

.pk-atomic-tangerine-border {
  border-color: var(--pk-atomic-tangerine);
}

.pk-danube-border {
  border-color: var(--pk-danube);
}

.pk-indigo-border {
  border-color: var(--pk-indigo);
}

.pk-lavender-purple-border {
  border-color: var(--pk-lavender-purple);
}

.pk-cosmic-border {
  border-color: var(--pk-cosmic);
}

.pk-red-damask-border {
  border-color: var(--pk-red-damask);
}

.pk-medium-carmine-border {
  border-color: var(--pk-medium-carmine);
}

.pk-bourbon-border {
  border-color: var(--pk-bourbon);
}

.pk-sandy-brown-border {
  border-color: var(--pk-sandy-brown);
}

.pk-periwinkle-border {
  border-color: var(--pk-periwinkle);
}

.pk-dodger-blue-border {
  border-color: var(--pk-dodger-blue);
}

.pk-dodger-blue-alt-border {
  border-color: var(--pk-dodger-blue-alt);
}

.pk-blue-border {
  border-color: var(--pk-blue);
}

.pk-navy-blue-border {
  border-color: var(--pk-navy-blue);
}

.pk-husk-border {
  border-color: var(--pk-husk);
}

.pk-rust-border {
  border-color: var(--pk-rust);
}

.pk-tamarillo-border {
  border-color: var(--pk-tamarillo);
}

.pk-gray-color {
  color: var(--pk-gray);
}

.pk-white-color {
  color: var(--pk-white);
}

.pk-black-color {
  color: var(--pk-black);
}

.pk-pale-canary-color {
  color: var(--pk-pale-canary);
}

.pk-golden-tanoi-color {
  color: var(--pk-golden-tanoi);
}

.pk-neon-carrot-color {
  color: var(--pk-neon-carrot);
}

.pk-eggplant-color {
  color: var(--pk-eggplant);
}

.pk-lilac-color {
  color: var(--pk-lilac);
}

.pk-anakiwa-color {
  color: var(--pk-anakiwa);
}

.pk-mariner-color {
  color: var(--pk-mariner);
}

.pk-bahama-blue-color {
  color: var(--pk-bahama-blue);
}

.pk-red-alert-color {
  color: var(--pk-red-alert);
}

.pk-blue-bell-color {
  color: var(--pk-blue-bell);
}

.pk-melrose-color {
  color: var(--pk-melrose);
}

.pk-hopbush-color {
  color: var(--pk-hopbush);
}

.pk-chestnut-rose-color {
  color: var(--pk-chestnut-rose);
}

.pk-orange-peel-color {
  color: var(--pk-orange-peel);
}

.pk-atomic-tangerine-color {
  color: var(--pk-atomic-tangerine);
}

.pk-danube-color {
  color: var(--pk-danube);
}

.pk-indigo-color {
  color: var(--pk-indigo);
}

.pk-lavender-purple-color {
  color: var(--pk-lavender-purple);
}

.pk-cosmic-color {
  color: var(--pk-cosmic);
}

.pk-red-damask-color {
  color: var(--pk-red-damask);
}

.pk-medium-carmine-color {
  color: var(--pk-medium-carmine);
}

.pk-bourbon-color {
  color: var(--pk-bourbon);
}

.pk-sandy-brown-color {
  color: var(--pk-sandy-brown);
}

.pk-periwinkle-color {
  color: var(--pk-periwinkle);
}

.pk-dodger-blue-color {
  color: var(--pk-dodger-blue);
}

.pk-dodger-blue-alt-color {
  color: var(--pk-dodger-blue-alt);
}

.pk-blue-color {
  color: var(--pk-blue);
}

.pk-navy-blue-color {
  color: var(--pk-navy-blue);
}

.pk-husk-color {
  color: var(--pk-husk);
}

.pk-rust-color {
  color: var(--pk-rust);
}

.pk-tamarillo-color {
  color: var(--pk-tamarillo);
}
